.about{
    width: 75%;
    margin: 0 auto;
    display: flex;
}
.about-left{
    width: 50%;
    text-align: start;
}
.line{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.line span{
    color: #4338CA;
    font-weight: bold;
    font-size: 1.2rem;
}
.about-left h1{
    font-size: 3rem;
}
.line img{
    width: 10%;
    height: 0.1vh;
}
.button{
    display: flex;
    gap: 20px;
    margin-top: 5%;
    justify-content: start;
}
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    gap: 0.7rem;
    border: 1px solid #3730A3;
    border-radius: 6px;
    width: 8rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    
}
.button-cont{
    background-color: #3730A3;
    color: #ffffff;
}
.button img{
    width: 15%;
    height: 3vh;
}
.about-right{
    width: 30%;
}
.about-right img{
    width: 25rem;
    height: 45vh;
    padding: 3rem;
}
@media (max-width: 550px){
    .about{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .about-left{
        width: 60%;
        margin: 0 auto;
        text-align: start;
    }
    .button img{
        width: 25%;
        height: 3vh;
    }
    .button a{
        padding: 0 0.8rem;
    }
    .about-right{
        width: 100%;
    }
    .about-right img{
        width: 20rem;
        height: 45vh;
        padding: 3rem;
    }
    .about-right img{
        width: 80%;
        height: 45vh;
        padding: 0;
        margin-bottom: 2rem;
    }
    .button{
        margin-top: 25%;
    }
}