.skills{
    width: 75%;
    margin: 3rem auto;
}

.myskills{
    display: flex;
}

.myskills img{
    width: 8rem;
    height: 8rem;
}

.myskills div {
    margin: 0 2rem 0 1rem;
}

h1 {
    text-align: start;
}
.lineContainer{
    border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 5% 10% 0 10%;
}

@media (max-width: 550px){
    .skills{
        width: 100%;
        margin: 3rem auto;
    }
    .myskills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        text-align: center;
    }
}